
@model IEnumerable<Subject>

@{
    ViewData["Title"] = "EditSubjects";
}

@using (Html.BeginForm())
{
    <table>
        @Html.ValidationSummary(true)
        

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.Group)
                    @Html.ValidationMessageFor(model => item.Group)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.Lesson)
                    @Html.ValidationMessageFor(model => item.Lesson)
                </td>
            </tr>
        }

    </table>
    <input type="submit" value="save" />
    <div>
        <a href='javascript:history.go(-1)'>Go Back to Previous Page</a>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}