@model IEnumerable<Attend>

@{
    ViewData["Title"] = TempData["Lesson"];
}

@using (Html.BeginForm())
{
    @if (Model.Any())
    {
        <div class="text-center">
            <table class="table table-bordered table-striped bg-info" style="border-width: thin">
                <thead>
                    <tr>
                        <th></th>
                        @foreach (var student in Model.OrderBy(x => x.Data).GroupBy(x => x.Data))
                        {
                            <th>
                                @student.Key.ToShortDateString()
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.OrderBy(x => x.Data).GroupBy(x => x.Student_name).OrderBy(x => x.Key))
                    {
                        <tr>
                            <td>
                                @student.Key
                            </td>

                            @foreach (var item in student)
                            {
                                <td>
                                    <input type="checkbox" name="@item.Id" asp-for="@item.Presence" />
                                    @Html.HiddenFor(x => item.Id)
                                </td>

                            }
                        </tr>
                    }

                </tbody>
            </table>
            <input type="submit" value="save" class="btn btn-primary" />

            <a class="btn btn-primary" asp-controller="Home" asp-action="AddNote">Add new date</a>

            <a class="btn btn-primary" asp-controller="Home" asp-action="EditTable">Edit Table</a>

            <p style="text-align:right" title="You can download form of journal to hold it with pen">
                <input type="submit" asp-controller="Home" asp-action="GetFile" value="Download" class="btn btn-primary" />
            </p>
        </div>
        <a href='javascript:history.go(-1)'>Go Back to Previous Page</a>
        @*<p style="text-align:right">
            <input type="submit" asp-controller="Home" asp-action="GetFile" value="Download" class="btn btn-primary" />
            </p>*@

    }
    else
    {
        <h2 id="no_items" style="opacity: 1">There is no information yet</h2>
        <a class="btn btn-primary" asp-controller="Home" asp-action="AddNote">Add data</a>
        //<a asp-controller="Home" asp-action="AddNote" asp-route-lesson="@Model.GroupBy(x => x.Lesson).First().Key">Add new note</a>
    }
}